/*! Place your custom styles here */

.darken {
  filter: brightness(50%);
}

.font-rye {
  font-family: 'Rye', cursive;
}

.bg--darkish {
  background: rgba(20, 20, 20, 0.9) !important;
}

.z-index-5 {
  z-index: 5 !important;
}
