<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>profsmallpine portfolio</title>

    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="apple-touch-icon" href="/assets/images/favicon.png">

    <!-- Load all css -->
    {{ stylesheetTag }}
  </head>
  <body>
    {{ template "pageContent" . }}

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDkbq0b7UoXJbNA3Kmbiz2n4qHmBUkArQs" type="text/javascript"></script>
    {{ javascriptTag }}
  </body>
</html>
