<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cafe Havana - Lunch, Breakfast, and Coffee in Belgrade, MT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cafe Havana in Belgrade, MT menu for Lunch, Breakfast, and Coffee">
    <meta name="robots" content="index,follow">

    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link rel="apple-touch-icon" href="/assets/img/favicon.png">

    <!-- Load all css -->
    {{ stylesheetTag }}

    <!-- Load all fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,700%7CFrank+Ruhl+Libre:300,400" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">
  </head>
  <body>
    <a id="start"></a>

    {{ template "nav" . }}

    <div class="main-container">
      {{ template "pageContent" . }}
    </div>

    <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
      <i class="stack-interface stack-up-open-big"></i>
    </a>

    {{ javascriptTag }}
  </body>
</html>
