{{ define "pageContent" }}
  {{ template "home" . }}
  {{ template "about" . }}
  {{ template "menu_hero" . }}
  {{ template "menu" . }}
  {{ template "drinks_hero" . }}
  {{ template "drinks" . }}
  {{ template "owner_hero" . }}
  {{ template "kyle" . }}
  {{ template "ramon" . }}
  {{ template "wall" . }}
  {{ template "map" . }}
  {{ template "footer" . }}
{{ end }}
