{{ define "about" }}
<section id="about" class="space--lg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10">
        <span class="h2">
          An award-winning culinary collective delivering compelling experiences
          to bold diners. We fuse local produce, flavour composition and relaxed
          atmosphere to effect.
        </span>
        <hr class="short">
        <p>
          Kyle Lastname,
          <br class="hidden-xs hidden-sm" /> Owner of this fine establishment
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
