{{ define "catering" }}
<section id="catering" class="imageblock switchable feature-large bg--secondary space--sm">
  <div class="imageblock__content col-lg-6 col-md-4 pos-right">
    <div class="background-image-holder" style="background: url(&quot;/assets/img/catering.jpg&quot;); opacity: 1;">
      <img alt="image" src="/assets/img/catering.jpg">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-7">
        <h2>Catering &amp; Special Events</h2>
        <p class="lead">
          We also offer customizable catering for your special events. You can even hold
          the event in our cozy cafe! Please reach out to
          <a href="mailto:ramonejm23@gmail.com">Ramone</a> for more information.
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
