{{ define "drinks" }}
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-block">
          <h3>Specialty Drinks</h3>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h4>Cafe Havana &mdash; 4 &mdash; 8 oz.</h4>
          <p>
            A cuban style blend of bold espresso, cream and raw organic 
            cane sugar.
          </p>
        </div>
        <div class="text-block">
          <h4>Coco Cloud &mdash; 5 &mdash; 16 oz.</h4>
          <p>
            Rich dark chocolate creme de cocoa
          </p>
        </div>
        <div class="text-block">
          <h4>Cherry Ba-Bombabomb &mdash; 5 &mdash; 16 oz.</h4>
          <p>
            Chocolate covered cherry
          </p>
        </div>
        <div class="text-block">
          <h4>Grasshopper &mdash; 5 &mdash; 16 oz.</h4>
          <p>
            Mint and chocolate
          </p>
        </div>
        <div class="text-block">
          <h4>Flat White &mdash; 4.25 &mdash; 12 oz.</h4>
          <p>
            Equal parts espresso and microfoam
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h4>Mexican Mocha &mdash; 5 &mdash; 16 oz.</h4>
          <p>
            Dark chocolate with a hint of chipotle spice and a touch of alomond
          </p>
        </div>
        <div class="text-block">
          <h4>Johnny Swirl &mdash; 5 &mdash; 16 oz.</h4>
          <p>
            Creamy caramel with chocolate
          </p>
        </div>
        <div class="text-block">
          <h4>Snow Tiger &mdash; 5 &mdash; 16 oz.</h4>
          <p>
            White chocolate creaminess
          </p>
        </div>
        <div class="text-block">
          <h4>Almond Fudge &mdash; 5 &mdash; 16 oz.</h4>
          <p>
            Chocolate and almond flavor
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
