{{ define "drinks_hero" }}
<section id="work" class="cover height-50 imagebg parallax" data-overlay="1">
  <div class="background-image-holder">
    <img alt="background" src="/assets/img/beverages.jpg" />
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-8 col-lg-6">
        <h1>
          Beverages
        </h1>
      </div>
    </div>
  </div>
</section>
{{ end }}
