{{ define "footer" }}
<footer class="footer-7 text-center-xs bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="type--fine-print">&copy;
          <span class="update-year"></span> profsmallpine &mdash; All Rights Reserved
        </span>
      </div>
      <div class="col-md-6 text-right text-center-xs">
        <ul class="social-list list-inline">
          <li>
            <a href="#">
              <i class="socicon socicon-google icon icon--xs"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="socicon socicon-twitter icon icon--xs"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="socicon socicon-facebook icon icon--xs"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="socicon socicon-instagram icon icon--xs"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{{ end }}
