{{ define "home" }}
<section id="home" class="cover height-100 imagebg parallax" data-overlay="2">
  <div class="background-image-holder darken">
    <img alt="background" src="/assets/img/havana_streets.jpg" />
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-8 col-lg-7">
        <h1>
          Modern American cuisine inspired by old world sensibilities
        </h1>
        <a class="btn btn--primary type--uppercase inner-link" href="#menu">
          <span class="btn__text">
            Explore The Menu
          </span>
        </a>
        <div class="row">
          <div class="col-md-6">
            <div class="feature feature-1 boxed boxed--border bg--white">
              <h5>Hours</h5>
              <p>
                Tues - Fri [7:30am - 2pm]
                <br />
                Sat [7:30am - 12pm]
              </p>
              <h5>Location</h5>
              <p>
                86 N Broadway
                <br />
                Belgrade, Montana 59714
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
