{{ define "home" }}
<section id="home" class="cover height-100 imagebg parallax" data-overlay="2">
  <div class="background-image-holder darken">
    <img alt="background" src="/assets/img/havana_streets.jpg" />
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-8 col-lg-7">
        <h1>
          Modern American cuisine inspired by old world sensibilities
        </h1>
        <a class="btn btn--primary type--uppercase inner-link" href="#menu">
          <span class="btn__text">
            Explore The Menu
          </span>
        </a>
        <div class="row">
          <div class="col-md-6">
            <div class="feature feature-1 boxed boxed--border bg--white">
              <h5>Hours</h5>
              <p>
                Tues - Fri [7:30am - 2pm]
                <br />
                Sat [7:30am - 12pm]
              </p>
              <h5>Location</h5>
              <p>
                86 N Broadway
                <br />
                Belgrade, Montana 59714
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="notification pos-left pos-bottom notification--reveal z-index-5" data-animation="from-bottom" data-autoshow="200">
    <div class="boxed boxed--border border--round box-shadow bg--darkish">
      <div class="text-block">
        <h3>
          Order food while we are open by
          <br>
          simply sending us a text.
        </h3>
        <!-- <br> -->
        <a class="btn btn--icon btn--success" href="sms:+14062238720&body=Welcome%20to%20Havana%20online%20ordering!%20Please%20let%20us%20what%20you'd%20like:%20">
          <span class="label">Yum yum.</span>
          <span class="btn__text">
            <i class="icon-Croissant"></i> Send a SMS Order!
          </span>
        </a>
      </div>
    </div>
    <div class="notification-close-cross notification-close"></div>
  </div>
</section>
{{ end }}
