{{ define "map" }}
<section id="contact" class="imageblock switchable feature-large space--lg">
  <div class="imageblock__content col-lg-6 col-md-4 pos-right">
    <div class="map-container" data-maps-api-key="AIzaSyDkbq0b7UoXJbNA3Kmbiz2n4qHmBUkArQs" data-address="86 N Broadway, Belgrade, Montana" data-marker-title="Stack"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-7">
        <h3>86 N Broadway
          <br /> Belgrade, Montana 59714
        </h3>
        <!-- <p class="lead">
          E:
          <a href="#">hello@cafehavana.net</a>
          <br /> P: +406 597 2294
        </p> -->
        <p class="lead">
          <!-- Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days. -->
          Drop by anytime
        </p>
        <p class="lead">
          We are open from 7:30am &mdash; 2pm [tues &mdash; fri] &amp; 7:30am &mdash; 12pm [sat].
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
