{{ define "menu" }}
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-block">
          <h3>Food</h3>
          <p class="type--fine-print">
            *Add an arepa, fresh fruit, and salsa - $3
            <br />
            *AREPA = A grilled corn cake, like a thick tortilla.
            <br />
            *Add tomato soup and chips - $4
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h4>Tacos &mdash; 6.5 / 8 / 9.5</h4>
          <p>
            2/3/4 corn tortillas, pulled pork, scrambled eggs, mozzarella 
            cheese, topped with fresh house made salsa.
          </p>
        </div>
        <div class="text-block">
          <h4>Colombian &mdash; 9.5</h4>
          <p>
            A grilled arepa, eggs, ripe avocado, on top of fresh organic 
            baby spinach.
          </p>
        </div>
        <div class="text-block">
          <h4>El Grande Sandwich &mdash; 8.5</h4>
          <p>
            Eggs, chopped ham, pickled jalapeno, a spread of siracha aiole 
            and melted cheese.
          </p>
        </div>
        <div class="text-block">
          <h4>Breakfast Burrito &mdash; 6.5</h4>
          <p>
            A delicious mix of eggs, diced ham, cheese, and fresh salsa.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h4>Breakfast Sandwich &mdash; 6.5</h4>
          <p>
            Bacon, egg, cheese, on an english muffin or butter croissant.
          </p>
        </div>
        <div class="text-block">
          <h4>Turkey Bacon Avocado &mdash; 7</h4>
          <p>
            A local favorite! Layered turkey, fresh avocado, crisp bacon, 
            and melted cheese served on a warm croissant.
          </p>
        </div>
        <div class="text-block">
          <h4>Cubano &mdash; 8</h4>
          <p>
            Our version of a S. Florida classic. Seasoned pork, sliced ham, 
            dill pickle, melted cheese, and yellow mustard, panini pressed 
            on hogie style bread.
          </p>
        </div>
        <div class="text-block">
          <h4>Green Chili Pork &mdash; 14</h4>
          <p>
            Pork shoulder slow cooked in house made green salsa, served with 
            beans and rice, salsa, and 3 corn tortillas.
          </p>
        </div>
        {{/* <div class="text-block">
          <h4>Organic Green Smoothie &mdash; 6.5</h4>
          <p>
            Spinach, banana, honey, almond butter, and almond milk.
          </p>
        </div>
        <div class="text-block">
          <h4>Fruit Smoothie &mdash; 6</h4>
          <p>
            Strawberry, banana, pineapple, almond butter, almond milk.
          </p>
        </div> */}}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-block">
          <h3>Lighter Fare</h3>
          <p class="type--fine-print">
            *No substitutions
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h4>Fruit Smoothie &mdash; 6.5</h4>
          <p>
            Strawberry, banana, pineapple, and honey blended with almond 
            butter and almond milk.
          </p>
        </div>
        <div class="text-block">
          <h4>Organic Green Smoothie &mdash; 6.5</h4>
          <p>
            Spinach, banana, and honey blended with almond butter and 
            almond milk.
          </p>
        </div>
        <div class="text-block">
          <h4>Yogurt & Granola Parfait &mdash; 7.5</h4>
          <p>
            Organic greek yogurt, vanilla cluster granola, and fresh fruit.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h4>Havana Salad &mdash; 9.5</h4>
          <p>
            Organic baby spinach, romaine, diced apple, shredded mozzarella. 
            Topped with a grilled arepa, avocado, hard boiled egg, and our 
            house made vinaigrette. Add Chopped Chicken or Sausage ($3)
          </p>
        </div>
        <div class="text-block">
          <h4>Havana Tomato Soup &mdash; 10</h4>
          <p>
            Our signature soup that will rival all others. Served with a 
            mozzarella quesadilla.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-block">
          <h3>Sides</h3>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h4>Soup &mdash; 4</h4>
        </div>
        <div class="text-block">
          <h4>Salad &mdash; 4.5</h4>
        </div>
        <div class="text-block">
          <h4>Fruit &mdash; 2.5</h4>
        </div>
        <div class="text-block">
          <h4>Avocado &mdash; 2</h4>
        </div>
        <div class="text-block">
          <h4>Quesadilla &mdash; 4.5</h4>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h4>Salsa &mdash; 0.75</h4>
        </div>
        <div class="text-block">
          <h4>Arepa &mdash; 2</h4>
        </div>
        <div class="text-block">
          <h4>Rice &mdash; 2.5</h4>
        </div>
        <div class="text-block">
          <h4>Beans &mdash; 2.5</h4>
        </div>
        <div class="text-block">
          <h4>G/F Bread &mdash; 2</h4>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
