{{ define "menu_hero" }}
<section id="services" class="cover height-50 imagebg parallax" data-overlay="3" id="menu">
  <div class="background-image-holder">
    <img alt="background" src="/assets/img/menu.jpg" />
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-8 col-lg-6">
        <h1>
          Food Menu
        </h1>
      </div>
    </div>
  </div>
</section>
{{ end }}
