{{ define "menu" }}
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-block">
          <h3>Breakfast</h3>
          <p class="type--fine-print">
            Ala carte / meal
            <br />
            Breakfast meals include an arepa + cup of fruit
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h4>Tacos &mdash; 6 / 7.5 / 9</h4>
          <p>
            2/3/4 corn tortillas with pulled pork, scrambled eggs, mozzarella
            cheese, topped with fresh house made salsa.
          </p>
        </div>
        <div class="text-block">
          <h4>Colombian &mdash; 9</h4>
          <p>
            A freshly grilled arepa, topped with 2 eggs, ripe avocado, atop
            organic baby spinach.
          </p>
        </div>
        <div class="text-block">
          <h4>El Grande Sandwich &mdash; 7.5 / 10.5</h4>
          <p>
            3 soft cooked eggs, chopped ham, pickled jalapeno, a spread of
            siracha aiole and melted cheese.
          </p>
        </div>
        <div class="text-block">
          <h4>Loco Moco &mdash; 7.5 / 10.5</h4>
          <p>
            2 eggs, house made beef patty, on top of jasmine rice with brown
            gravy.
          </p>
        </div>
        <div class="text-block">
          <h4>Dave's Special &mdash; 7.5 / 10.5</h4>
          <p>
            Sauteed mushrooms and onions scrambled with 2 eggs, organic baby
            spinach, cheese, avocado, on Dave's organic seed bread.
          </p>
        </div>
        <div class="text-block">
          <h4>Classic Burrito &mdash; 6 / 9</h4>
          <p>
            A delicious mix of 2 scrambled eggs, grilled diced ham cheese and
            fresh salsa.
          </p>
        </div>
        <div class="text-block">
          <h4>Veg. Burrito &mdash; 6.5 / 9.5</h4>
          <p>
            Sauteed mushrooms, onions, and potatoes, scrambled with 2 eggs,
            spinach, and rice.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h4>Breakfast Sandwich &mdash; 6.5 / 9.5</h4>
          <p>
            2 eggs, crisp bacon, and melted cheese, served on a croissant or
            english muffin.
          </p>
        </div>
        <div class="text-block">
          <h4>Omelette &mdash; 6 / 9</h4>
          <p>
            2 fresh eggs stuffed with your choice of meat and melted cheese.
            (Vegetarian option) spinach and potato.
          </p>
        </div>
        <div class="text-block">
          <h4>Tenny's Toast &mdash; 6.5</h4>
          <p>
            Our french bread french toast chopped into cubes sprinkled with
            crispy bacon and dusted with powdered sugar.
          </p>
        </div>
        <div class="text-block">
          <h4>Levy's Toast &mdash; 7 / 10</h4>
          <p>
            A stack of french toast layered with organic greek yogurt, organic
            bananas, and drizzled with organic honey.
          </p>
        </div>
        <div class="text-block">
          <h4>Yogurt &amp; Granola Parfait &mdash; 7.5</h4>
          <p>
            Organic greek yogurt, vanilla cluster granola, and fresh fruit.
          </p>
        </div>
        <div class="text-block">
          <h4>Organic Green Smoothie &mdash; 6.5</h4>
          <p>
            Spinach, banana, honey, almond butter, and almond milk.
          </p>
        </div>
        <div class="text-block">
          <h4>Fruit Smoothie &mdash; 6</h4>
          <p>
            Strawberry, banana, pineapple, almond butter, almond milk.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-block">
          <h3>Lunch</h3>
          <p class="type--fine-print">
            Ala carte / meal
            <br />
            Lunch meals include choice of 2 (soup / salad / chips)
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h4>Turkey Bacon Avocado &mdash; 6.5 / 10.5</h4>
          <p>
            A local favorite, layered turkey, fresh avocado, crisp bacon, and
            melted cheese served on a warm croissant.
          </p>
        </div>
        <div class="text-block">
          <h4>Cubano &mdash; 7 / 11</h4>
          <p>
            Our version of a S.Florida classic. Seasoned pulled pork, diced ham,
            crispy sliced dill pickle, cheese, and our house blend mustard sauce,
            on hogie style bread panini pressed.
          </p>
        </div>
        <div class="text-block">
          <h4>Meatloaf &mdash; 6.5 / 10.5</h4>
          <p>
            A new dimension of a longtime favorite. House made meatloaf topped
            with crushed pineapple caramelized onion and cheese. Served on
            toasted french bread.
          </p>
        </div>
        <div class="text-block">
          <h4>Portabella &mdash; 7 / 11</h4>
          <p>
            Sliced portabella mushroom marinated in a sweet teryiaki grilled
            with walla walla sweet onion on a toasted english muffin with
            cheese.
          </p>
        </div>
        <div class="text-block">
          <h4>Portabella Cheesesteak &mdash; 8 / 12</h4>
          <p>
            Portabella mushrooms, fresh peppers and onions, sauteed together
            with cream cheese and steak sauce served on a warm hogie.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h4>The Pizza &mdash; 8 / 12</h4>
          <p>
            Sauce from our signature tomato soup, organic grilled chicken
            sausage, organic baby spinach, diced onion, sprinkled with bacon and
            cheese on a crisp tortilla.
          </p>
        </div>
        <div class="text-block">
          <h4>Chicken Sausage Wrap &mdash; 6.5 / 10.5</h4>
          <p>
            Organic chicken sausage mixed with rice, onion, bits of mandarin
            orange, salsa, and cheese.
          </p>
        </div>
        <div class="text-block">
          <h4>Havana Salad &mdash; 9</h4>
          <p>
            Organic baby spinach chopped with organic romaine hearts, fresh
            apple slices and shredded mozzarella. Topped with a grilled arepa,
            ripe avocado, and hard boiled egg.
          </p>
        </div>
        <div class="text-block">
          <h4>Havana Tomato Soup &mdash; 9</h4>
          <p>
            Our signature soup that will rival all others. Served with a
            mozzarella quesadilla.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-block">
          <h3>Sides</h3>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h4>Soup &mdash; 3.5</h4>
        </div>
        <div class="text-block">
          <h4>Salad &mdash; 4</h4>
        </div>
        <div class="text-block">
          <h4>Fruit &mdash; 2</h4>
        </div>
        <div class="text-block">
          <h4>Avocado &mdash; 2</h4>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h4>Egg &mdash; 1</h4>
        </div>
        <div class="text-block">
          <h4>Quesadilla &mdash; 4.5</h4>
        </div>
        <div class="text-block">
          <h4>Extra Meat &mdash; 2</h4>
          <p>
            Bacon, susage, or chorizo
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
