{{ define "nav" }}
<div class="nav-container ">
  <nav class="bar bar-toggle bar--transparent bar--absolute bg--dark" data-fixed-at="200">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <div class="bar__module">
            <a href="/" class="imagebg">
              <h1 class="font-rye">Cafe Havana</h1>
            </a>
          </div>
        </div>
        <div class="col d-flex justify-content-end">
          <div class="bar__module">
            <a class="menu-toggle pull-right" href="#" data-notification-link="sidebar-menu">
              <i class="stack-interface stack-menu"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="notification pos-right pos-top side-menu bg--white" data-notification-link="sidebar-menu" data-animation="from-right">
    <div class="side-menu__module pos-vertical-center text-right">
      <ul class="menu-vertical">
        <li>
          <a class="inner-link" href="#home">Home</a>
        </li>
        <li>
          <a class="inner-link" href="#about">About</a>
        </li>
        <li>
          <a class="inner-link" href="#menu">Menu</a>
        </li>
        <!-- <li>
          <a class="inner-link" href="#owners">Meet the Owners</a>
        </li> -->
        <li>
          <a class="inner-link" href="#contact">Contact</a>
        </li>
        <li>
          <a class="inner-link" href="#catering">Catering</a>
        </li>
      </ul>
    </div>

    <div class="side-menu__module pos-bottom pos-absolute col-12 text-right">
      <ul class="social-list list-inline text-right list--hover">
        <li>
          <a href="https://twitter.com/FunnyQuotees" target="_blank">
            <i class="socicon socicon-twitter icon icon--xs"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/spottedhorsecoffee/" target="_blank">
            <i class="socicon socicon-facebook icon icon--xs"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/explore/locations/19881544/spotted-horse-coffee" target="_blank">
            <i class="socicon socicon-instagram icon icon--xs"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{{ end }}
