{{ define "owner_hero" }}
<section class="text-center imagebg space--lg" data-overlay="3">
  <div class="background-image-holder" style="background: url(&quot;img/cowork-1.jpg&quot;); opacity: 1;">
    <img alt="background" src="/assets/img/makers.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-6">
        <h1>Meet The Owners</h1>
        <p class="lead">
          An innovative duo made of like-minded fellows
          creating a cultural and community based food
          experience
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
