{{ define "wall" }}
<section class="slider" data-arrows="true" data-paging="true">
  <ul class="slides">
    <li>
      <img alt="Image" src="/assets/img/wall_2.jpg" />
    </li>
    <li>
      <img alt="Image" src="/assets/img/wall_3.jpg" />
    </li>
    <li>
      <img alt="Image" src="/assets/img/wall_4.jpg" />
    </li>
    <li>
      <img alt="Image" src="/assets/img/wall_5.jpg" />
    </li>
  </ul>
</section>
{{ end }}
